@import 'tailwindcss';

@font-face {
  font-family: 'roboto';
  src: url('/fonts/roboto-latin-wght-normal.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: 'roboto', sans-serif;
  --color-background: #ffffff;
  --color-foreground: #18181b;
  --color-primary: #ab1923;
  --color-primary-foreground: #ffffff;
}

body {
  font-family: var(--font-sans);
  background: var(--color-background);
  color: var(--color-foreground);
}

@utility wrapper {
  @apply mx-auto max-w-5xl;
}
